* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffddc3; /* Fundo suave */
}




form div {
  
  background-color: #a07a6a;
  margin: auto;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 0rem; 
  flex-wrap: wrap; 
}


.div-esquerda {
  width: 35%; 
  text-align: center;
  margin-bottom: 1rem;
  float:left;
  margin-left: 10%;
  
}

#anonimo {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10%;
  object-fit: cover; 
}


.div-direita {
  width: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5%;
}


h2 {
  color: #303b0f;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding-left: 40%;
}

.inputs {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #303b0f;
  color: #303b0f;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: #ffddc3;
  transition: border-color 0.3s ease;
}



#botao {
  background-color: #303b0f;
  color: white;
  border-radius: 10px;
  border: none;
  width: 60%;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.7s ease;
}

#botao:hover {
  background-color: #606a3c;
}


input[type="file"] {
  display: none;
}

.imagem-input {
  background-color: #303b0f;
  border-radius: 10px;
  border: none;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  transition: background-color 0.7s ease;
}

.imagem-input:hover {
  background-color: #606a3c;
}


@media (max-width: 1024px) {
  form div {
   
    flex-direction: column; 
    align-items: center; 
    padding: 1rem;
    
  }

}

@media (max-width: 768px) {
  form div {
   
    flex-direction: column; 
    align-items: center;
    padding: 1rem;
  }

}

@media (max-width: 480px) {
  form div {
    
    flex-direction: column; 
    padding: 1rem;
    align-items: center;
  }

  
}
