.user-container {
    padding: 40px;
}
.voltar {
    height: 10%;
    width: 10%;
    left: 10px; 
    position: absolute;
    cursor: pointer;
}


.password-atual {
    margin-bottom: 25px;
}

.mostrar {
    background-color: #303b0f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.7s;
}

.mostrar:hover {
    background-color: #606a3c;
}

.password-mudar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

.password-mudar label {
    font-weight: bolder;
    color: #303b0f;
    align-self: flex-start;
}

.input {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    background-color: #ffddc3 ;
    border-radius: 10px;
    color:#303b0f;
}

.password-mudar button {
    background-color: #303b0f;
    color: white;
    border: none;
    width: 90%;
    padding: 1rem;
    font-size: 1.2rem;
    transition: background-color 0.7s ease;
}

.password-mudar button:hover {
    background-color: #606a3c;
    cursor: pointer;
}


/* Responsividade */
@media (max-width: 600px) {
    .password {
        font-size: 1rem;
    }

    .mostrar {
        padding: 8px 16px;
        font-size: 0.8rem;
    }

    .password-mudar button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

