*{
    background-color: #ffddc3;
}

.botao{
    background-color: #303b0f;
    margin:5%;
    color: white;
    border-radius: 10px;
    border: none;
    width: 60%;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover{
    cursor: pointer;
    background-color: #606a3c;
}
.bloco{
    background-color: #a07a6a;
    
}

.route{
    background-color: #ffddc3;
}