.navbar {
    
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #606a3c;
        color: #fff; 
        padding: 1rem;
    
    
  }
  .navbar * {
    background-color: #606a3c; 
    
}

  .logo{
    width: 40%;
    border-radius: 10px; 
  }
  .navbar-left{
    margin:0;
    padding: 0;
    margin-left: -10%;
    margin-right: -10%;
  }
  
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
    
  }
 
.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.user-image:hover {
  transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}

.nav-links li a {
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  color:white;
  
  
}
.nav-links li a:hover {
  color: #5c2626;
  text-decoration: underline;
}

@media (max-width: 807px){
  .navbar-left{
    margin:0;
    padding: 0;
    margin-left: -20%;
    margin-right: -20%;
  }
}
@media (max-width: 670px){
  .navbar-left{
    margin:0;
    padding: 0;
    margin-left: -30%;
    margin-right: -30%;
  }

  .nav-links li a {
    font-size: 0.8rem;
    cursor: pointer;
    margin-right: 10px;
    color:white;
    
    
  }

  
}

