/* Post.css */

.user-container {
    display: flex;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: flex-start;
    padding: 20px;
    background-color: #a07a6a; /* Cor de fundo beje claro */
    color: #5c2626; /* Cor de texto vermelho escuro */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Largura ajustada */
    margin: 50px auto;
    width: 95%;
  }
  
  .voltar {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
  }
  
  .div-esquerda {
    display: flex;
    flex-direction: column; /* Organiza a imagem e o input verticalmente */
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Espaçamento entre imagem e outros elementos */
  }
  
  #img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #a07a6a; /* Borda beje escuro */
    margin-bottom: 10px;
  }
  
  .imagem-input {
    background-color: #303b0f; /* Verde escuro */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .imagem-input input {
    display: none;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  
  .text-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a07a6a; /* Borda beje escuro */
    border-radius: 5px;
    font-size: 14px;
    background-color: #ffddc3;
    color: #303b0f; /* Verde escuro */
  }
  
  .submit {
    background-color: #303b0f; /* Verde claro */
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit:hover {
    background-color: #606a3c; /* Verde escuro */
  }
  
  input[type="color"] {
    width: 100px;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .error {
    color: #ff0000;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Alinhando inputs à direita */
  .inputs-container {
    display: flex;
    flex-direction: column; /* Alinha todos os inputs em uma coluna */
    align-items: flex-start; /* Alinha à esquerda dentro do contêiner */
    margin-left: 20px; /* Espaçamento entre a imagem e os inputs */
    width: 100%;
  }
  