/* Estilos para o container do usuário */
.user-container {
   
    background-color: #a07a6a;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 16px 18px #303b0f;
    color: white;
    font-family: sans-serif;
   
}

.user-container * {
    background-color: transparent;
   
}


.image {
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #303b0f;
    box-shadow: 0px 1px 4px #303b0f;
    margin-right: 40px;
    margin-left:10px;
    margin-bottom: 15px;
    object-fit: cover;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.image:hover{
    transform: scale(1.5);
}

.top {
    display: flex;
    margin-left: 40px;
    align-items: center;
    margin-top: 5px ;
    margin-bottom: 1rem;  
}

.nome {
    font-weight: bold;
    color: #303b0f;
}

.password {
    font-size: 1.2rem;  
}

.mostrar {
    background-color: #303b0f;
    color: white;
    border-radius: 10px;
    border: none;
    width: 60%;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.7s ease;
    margin-top: 1rem;
}

.mostrar:hover {
    background-color: #606a3c;
}
.logo_user {
    position: absolute; /* Define o posicionamento absoluto */
    top: 0; /* Alinha ao topo da página */
    left: 0; /* Alinha à esquerda da página */
    margin: 10px; /* Remove margens desnecessárias */
    width: 25%; /* Define a largura como 50% do contêiner */
    border-radius: 15px; /* Aplica bordas arredondadas */
}




.actions p {
    
    margin: 0.5rem 0;
    cursor: pointer;
    color: #e0e0e0;
}

.actions p:hover {
    color: #606a3c;
    text-decoration: underline;
}
.voltar {
    top: 20px;
    cursor: pointer;
}



@media (max-width: 768px) {
    .user-container {
        padding: 1rem;
        top: 10%;
    }

    .image {
        width: 120px;
        height: 120px;
    }

    .nome {
        font-size: 1.2rem;
    }

    .mostrar {
        width: 80%;
    }

    .actions p {
        font-size: 1rem;
    }
}

