* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffddc3; /* Fundo suave */
  }

#login {
    background-color: #a07a6a;
    margin: auto;
    padding: 2rem;
    width: 60%; 
    border: 2px solid #303b0f;
    border-radius: 20px;
    
  }


.erro{
    background-color: #a07a6a;
    border: 2px solid #303b0f;
    border-radius: 20px;
    margin: 5%;
    width: 60%;
    margin-left: 7rem;
    
}


#botao {
    background-color: #303b0f;
    color: white;
    border-radius: 10px;
    border: none;
    width: 60%;
    padding: 1rem;
    font-size: 1.2rem;
    transition: background-color 0.7s ease;
  }
  
  #botao:hover {
    background-color: #606a3c;
    cursor: pointer;
  }

  