* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffddc3; /* Fundo suave */
  }

form {
    background-color: #a07a6a;
    margin: auto;
    padding: 2rem;
    width: 60%; /* Largura do formulário em telas grandes */
    border: 1px solid black;
    border-radius: 20px;
    flex-wrap: wrap; /* Permite que os itens se reorganizem em telas pequenas */
  }

.erro{
    background-color: #a07a6a;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5%;
    width: 60%;
    margin-left: 7rem;
    
}
img{
    position: relative;
    
}

#botao {
    background-color: #303b0f;
    color: white;
    border-radius: 10px;
    border: none;
    width: 60%;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #botao:hover {
    background-color: #606a3c;
  }